<!DOCTYPE html>
<html>
<body>
  For Movies:<br>
  <form method="POST" >
    Title:          <input type="text" name="movie_title"><br>
    Runtime (mins): <input type="text" name="runtime"><br>
    Rating:         <input type="text" name="rating"><br>
    <input type="submit" name="Save movie!"><br>
  </form><br><br>
  For People:<br>
  <form method="POST" action="/result">
    First name:          <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    <!-- WORKING ON MY DROPDOWN Age: <select name="age">
          <option value="hi"></option>
          <option value="hi">bye</option>
          <option value="henlo">MoreOptionss</option>
        </select> -->
    <input type="submit" name="Save person!"><br>
</body>
</html>
