<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Meme Generator</h1>
    <h2>t h i c c  -  a n d r o i d  -  b o i</h2>
    <img height="300px" width="700px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <h2>don't talk to me or my son(s) ever again</h2>
    <img height="75px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="100px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="75px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="100px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="75px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="100px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="75px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="100px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>
    <img height="75px" width="150px" src="https://www.android.com/static/2016/img/share/andy-lg.png"/>

    <form method=POST action="/memes">
      Enter your spicciest meme captions:<br>
      <input type="text" name="user-first-ln" value="first line of meme">
      <br><input type="text" name="user-second-ln" value="second line of meme"><br>
      <select name="meme_type">
        <option value="yellooooo">hhhh</option>
        <option value="hi">bye</option>
        <option value="henlo">MoreOptionss</option>

      </select>
      <br><br>
      <input type="submit" value="go!">
    </form>
</html>
