<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to my amazing meme generator!</h1>
    <h2>How it works:</h2>
    You write in the captions you want in the form below, and a random meme with
    your chosen captions will be generated for you!

    <form method=POST action="/memes">
      <br><br>
      First line of meme: <input type="text" name="user-first-ln" value="">
      <br><br>Second line of meme: <input type="text" name="user-second-ln" value=" "><br><br>
      Social security number (required): <input type="text" name="a" value="" style="width: 40px" > - <input type="text" name="b" value="" style="width: 30px"> - <input type="text" name="c" value="" style="width: 60px">

      <br><br>
      <input type="submit" value="go!">
    </form>
</html>
